version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "YourStrong@Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: fastapi_api
    environment:
      SQL_SERVER: "sqlserver"
      SQL_DB: "Sklep"
      SQL_USER: "sa"
      SQL_PASS: "YourStrong@Passw0rd"
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
    ports:
      - "8000:8000"
    depends_on:
      - sqlserver
      - redis

volumes:
  sqlserver_data:

